<header>
    <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId"
            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
    </select>
</header>
<div class="row">
    <h3>
        Scan a barcode with this
    </h3>
        <zxing-scanner *ngIf="scannerEnabled" (scanSuccess)="scanSuccessHandler($event)" [(device)]="currentDevice"
            (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)"
            [formats]="formatsEnabled">
        </zxing-scanner>
        <button (click)="enableScanner()" type="button" class="btn btn-success">Turn scanner on and off</button>

    <div>
        <strong>{{ information }}</strong>
    </div>
</div>